
<h2>Tabla de Cuentas</h2>
<div>
    <img src="assets/BCH.png" style="width: 100%; height: 100px;" alt="">
</div>
<div class="tableCuentas">
    <div class="Registro"> 
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Número de Cuenta</th>
                    <th>Tipo de Cuenta</th>
                    <th>Saldo</th>
                    <th>Titular</th>
                    <th>Documento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cuenta of cuentas">
                    <td>{{cuenta.numeroCuenta}}</td>
                    <td>{{cuenta.tipoCuenta}}</td>
                    <td>{{cuenta.saldo}}</td>
                    <td>{{cuenta.titular}}</td>
                    <td>{{cuenta.documento}}</td>                 
                    <td>
                        <button (click)="verMovimeintosDeLaCuenta(cuenta.numeroCuenta)" class="btn btn-info" >Movimientos </button>
                        <button (click)="eliminarCuenta(cuenta.numeroCuenta)" class="btn btn-danger" style="margin-left:10px ;">Eliminar</button>
    
                    </td>          
                    
                
                    
                </tr>
                
            </tbody>
        </table> 

    </div>
    

</div>

